.parent {

    width: 300px;
    padding: 15px 10px 15px 10px;
    background: white;

    .title {

        font-family: 'Poppins-Medium', sans-serif;
        font-size: 18px;
        color: black;

    }

    .inputContainer {

        align-items: center;
        display: flex;
        flex-flow: nowrap;
        margin: 15px 0 10px 0;
        border: 1px solid black;
        border-radius: 4px;
        justify-content: space-evenly;
        padding: 0 5px 0 10px;

        input {

            background: transparent;
            border: none;
            outline: none;
            height: 35px;
            color: black;
            padding: 10px 10px 10px 0;
            width: 100%;
            font-size: 22px;

        }

    }

    .errorText {

        color: red;
        font-family: 'Poppins-Regular', sans-serif;
        font-size: 12px;

    }

    .confirmButton {

        width: 100%;
        height: 40px;
        margin-top: 20px;
        border-radius: 10px;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins-Regular', sans-serif;

    }

}