.parent {

    display: flex;
    flex-flow: column;
    width: 401px;
    padding: 25px 25px 25px 25px;
    background: white;
    color: black;

    img {

        margin: auto;

    }

    h3 {
        padding: 0 20px 0 20px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: 'Poppins-SemiBold', sans-serif;
    }

    .buttons {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .cancel {

            --background: white;
            --box-shadow: none;
            --border-color: gray;
            --border-style: solid;
            --border-width: 1px;
            --border-radius: 8px;
            text-transform: none;
            color: black;
            font-family: 'Poppins-Regular', sans-serif;

        }

        .clear {
            --background: #e33f3f;
            --box-shadow: none;
            --border-color: gray;
            --border-style: solid;
            --border-width: 1px;
            --border-radius: 8px;
            text-transform: none;
            color: white;
            font-family: 'Poppins-Regular', sans-serif;
        }


    }


}